.card{
    position: relative;
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.card-image{
    width: 100%;
  object-fit: contain;
}

.card-text{
    margin:0.5em;
}

.card svg {
  position: absolute;
  bottom:5px;
  left: 5px;
  font-size: 1.2em;
}